@CHARSET "UTF-8";
@font-face {
    font-family: type_writer_style;
    src: url('fonts/Underwood_Etendu_1913.TTF');
}

a#username {
    font-size: 8px;
    font-family: Arial;
    color: grey;
    position: relative;
    top: -30px;
}



span#pointer {
    position: absolute;
    margin-left: -0.2em;
    /*font-size: 1em;*/
}

span#pointer.pointerEndLine {
    margin-left: 0em;
}

span#pointerContainer {
    position: absolute;
}

.rightToLeft {
    direction: rtl;
}

div#dialog {
    font-family: Times New Roman;
    font-size: small;
    display: none;
    position: absolute;
    background: white;
    border: solid 3px black;
    padding: 3px;
    left: 50%;
    z-index: 500;
}

div#darken {
    background-color: rgb(0, 0, 0);
    z-index: 300;
    height: 100%;
    width: 100%;
    background-repeat: repeat;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
}

span.todo {
    border-bottom-style: dashed;
    border-color: red;
    margin: 0px 2px;
    border-width: 1px;
}

div.bracket {
    position: absolute;
    border: solid black;
    width: 4px;
    height: 100%;
}

div.bracket_leftToRight {
    left: -20px;
    border-width: 1px 0px 1px 1px;
}

div.bracket_rightToLeft {
    right: -20px;
    border-width: 1px 1px 1px 0px;
}

div.unanalyzable:after {
    content: "U";
    font-size: 70%;
    font-family: Courier;
    font-weight: bold;
    color: red;
    left: 20px;
    top: -1px;
    position: relative;
}

div.uncertain:after {
    content: "???";
    font-size: 70%;
    font-family: Courier;
    font-weight: bold;
    color: red;
    left: 20px;
    top: -1px;
    position: relative;
}

div.uncertain.unanalyzable:after {
    content: "U ???";
    font-size: 70%;
    font-family: Courier;
    font-weight: bold;
    color: red;
    left: 20px;
    top: -1px;
    position: relative;
}

span.UNIT {
    padding: 0em 0em 0.2em 0em;
    margin: 0em 0.05em 0em 0.05em;
    color: black;
    font-weight: normal;
    border: 2px solid transparent;
    word-spacing: 0px;
/*line-height: 1.5em;*/
}

span.LRU {
    color: black;
    margin: 0px;
    /*border-bottom: 1px solid #90bade;*/
    /* font-size: 10px; small*/
    /*border: 3px solid transparent;*/
    word-spacing: 0px;
}

span.LRU.lruSelected {
    background: #555;
    color: white;
/*
  font-weight: bold;
  border-bottom: 1px black dashed ! important;
  */
}

a.category-button {
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    width: 1em;
    height: 1em;
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
    position: relative;
    vertical-align: center;
    text-decoration:none;
    margin-bottom: -0.25em;
    margin-right: 0.5em;
}.category-button:hover {
}.category-button:active {
}

a.category-button2 {
    vertical-align: center;
    padding: 0.1em;
    border:2px solid black;
    border-radius: 1em;
    margin-right: 0.5em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    background: #fff;
}

p.circle_button { 
    height: 1em; 
    width: 1em;
    -webkit-border-radius: 5em; 
    -moz-border-radius: 5em; 
    border: 0.2em solid black;
    border-radius: 5em;
    background-color: white; 
    color: black;
    margin: auto; 
}

/* This imageless css button was generated by CSSButtonGenerator.com */
a.button {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -moz-border-radius:42px;
    -webkit-border-radius:42px;
    border-radius:42px;
    border:1px solid black;
    display: block;
    color:#555555;
    font-family:Times New Roman;
    font-size:0.8em;
    /*font-weight:bold;*/
    padding: 0.2em 1em;
    margin: 0.2em 1em;
    cursor: pointer;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
    line-height: 1.5em;
    text-align: left;
}.button:hover {
/*
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color:#dfdfdf;
  */
}.button:active {
/*
  position:relative;
  top:1px;
  */
}

div.sentence,div.unedittableSentence {
    font-family: Times New Roman;
    /*border-width: 0px;*/
    border: 1px solid;
    margin: 3px;
    color: #000000;
/*line-height: 1.5em;*/
}

div#unitsLRUDiv {
    font-family: Times New Roman;
    /*border-width: 0px;*/
    margin: 3px;
    color: #000000;
/*line-height: 1.5em;*/
}


p.paragraph {
    margin: 0px;
    padding-bottom: 0.5em;
}

div.passageSentence {
    padding-top: 25px;
}

div.sentence {
    background-color: #eeeeee;
    word-spacing: 0;
}

div.unedittableSentence {
    background-color: #efefd7;
}

div.dialogUnit {
    font-size: large;
}

div.sentence.link {
    background-color: #EFE;
}

span#sentSpan0 {
    white-space: pre-wrap;
    color: #222222;
}

span.remoteUnit {
    background-color: #efefd7;
}

span.remoteAdd, span.refAdd {
    background-color: #ddddc3;
}

span.arg {
    background-color: #e3a0a0;
    color: #eedddd;
}

div#err {
    overflow: auto;
}

div#sentDiv0 {
    border: 2px #dddddd groove;
    padding-left: 0.2em;
    height: 6em;
    overflow-y: auto;
}

div#unitsLRUDiv {
    border: 2px #eeeeee groove;
    background: #fafafa;
    /* font-size: 10px; small*/
    overflow-y: scroll;
}

div.square {
    height: 0.5em;
    width: 0.5em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    border: 1px solid #888888;
    display: inline-block;
}

span.refUnit {
    padding: 0em 0.1em 0.2em 0.1em;
    margin-left: 0.1em;
    color: black;
    font-weight: normal;
    border: 1px solid black;
    word-spacing: 0px;
}

/*
  span.linkLeft {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: transparent;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  border-bottom-width: 5px;
  border-right-width: 5px;
  border-right-style: solid;
  margin-bottom: 0.01em;
  display: inline-block;
  }

span.linkRight {
border-top-width: 5px;
border-top-style: solid;
border-top-color: transparent;
border-bottom-style: solid;
border-bottom-color: transparent;
border-bottom-width: 5px;
border-left-width: 5px;
border-left-style: solid;
margin-bottom: 0.01em;
display: inline-block;
}

span.link {
height: 0.3em;
width: 0.7em;
margin-left:0em;
margin-bottom: 0.1em;
position: relative;
border: 1px solid #888888;
display: inline-block;
background: #22ccff;
}
*/

div.bracketDiv {
    position: absolute;
    height: 100%;
}

div.bracketDiv_rtl {
    right: 10px;
}

div.bracketDiv_tlr {
    left: 10px;
}

span.highlighted {
    color: #F00;
}

span.pointerUnitHighlight {
    color: #F00;
}

span.head {
    background: #ddcccc;
}

span.UNIT.selected {
    background: #555;
    color: white;
/*font-weight: bold;
  border-bottom: 1px black dashed ! important;*/
}

span.UNIT.linkageUnit {
    /*font-weight: bold;
    border-width: 5px;
    */
}

div.linkageSentDiv {
    background-color: #DFDFFF;
}

span.UNIT.curLinker {
    background-color: #ddddc3;
}

span.sentSpan.selected {
    background: #555;
    color: white;
/*   
     font-weight: bold;
     border-bottom: 1px black dashed ! important;
     */
}

span.tempselected.UNIT {
    background: #555;
    color: white;
/*
  font-weight: bold;
  border-bottom: 1px black dashed ! important;
  */
}
span.tempdeselected.UNIT {
    background: none;
    color: black;
/*
  font-weight: bold;
  border-bottom: 1px black dashed ! important;
  */
}

ul#unitsLruUL {
    list-style: none;
    padding: 0.5em;
    margin: 1px;
}

span.linkageModeUnit {
    border: 1px solid;
    display: block;
    margin: 1px;
    width: 15em;
    text-align: center;
}

table.linkageModeTable {
    border: 1px solid;
    margin: 1px;
    margin-left: auto;
    margin-right: auto;
}

span.linkageArrow {
    font-size: xx-large;
    font-weight: bolder;
}

span.lruSelected {
    background: #555;
    color: white;
/*
  font-weight: bold;
  border-bottom: 1px black dashed ! important;
  */
}

/*
  p.moreButton {
  width: 10em;
  margin: 5px;
  padding: 5px;
  display: block;
  border: solid 2px black;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  white-space: nowrap;
  background: #dddddd;
  font-weight: bold;
  font-family: Times New Roman;
  cursor: pointer;
  }
  */

a.bold {
    font-weight: bold;
}

div.buttonField {
    display: inline;
}

/*
  div#moreButtonsMenu {
  border: 1px black solid;
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 8em;
  width: 30em;
  background: white;
  display: none;
  }
  */

.shadow1 {
    box-shadow: 5px 5px 5px #000;
}

div.passageShadow {
    box-shadow: 3px 3px 3px #000;
}

div.unitShadow {
    box-shadow: 2px 2px 2px #000;
    top: 3px;
}

.itemDiv {
	border: solid 1px #666;
	margin: 2px;
	padding: 2px;
}

img.top-button {
    height: 100%;
    cursor: pointer;
    position: relative;
}

div.lruPosition {
    width: 90%; 
    border: 1px black solid; 
    position: relative;
    display: block;
    margin-right: 5px;
    margin-top: 5px;
    z-index: 300;
    
}

div.focusUnit {
    border-width: 3px;
}

span.originalRemoteInstance {
    color: #55F;
}

a.small-buttons {
    font-size:0.7em;
}

a.medium-buttons {
    font-size:0.8em;
}

a.large-buttons {
    font-size:0.9em;
}

img.delImg {
    border: 1px solid black;
    margin-left: 0.1em;
}

img.commentsButton {
    border: 1px solid black;
    width: 14px;
    height: 13px;
    cursor: pointer;
}

img.finishButton {
    border: 1px solid black;
    margin-left: 0.1em;
}

span.ui-icon-closethick {
	display: inline-block;
}

.selectable {
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-o-user-select: text;
	user-select: text;
}